textarea::-webkit-scrollbar {
    width: 0.3em;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px #ED156D;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #ED156D;
    outline: 1px solid #ED156D;
}

input[type="search"]::-webkit-search-decoration:hover,
input[type="search"]::-webkit-search-cancel-button:hover { 
    cursor:pointer;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}